:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position-x: center;
  background-position-y: -715px;

  #app {
    width: fit-content;
    margin: 52px auto;

    header {
      margin-bottom: 63px;
      text-align: center;
    }

    main {
      .card {
        padding: 32px 23px;
        text-align: center;
        background-color: #1d1c19;
        border-bottom: 2px solid #f7dd43;
        border-radius: 6px;

        h2 {
          display: flex;
          gap: 16px;
          justify-content: center;
          align-items: center;
          border: 1px solid #746615;
          border-radius: 6px;
          padding: 8px 16px;
          width: fit-content;
          margin-inline: auto;
          margin-bottom: 53px;
          color: #f7dd43;

          span {
            color: #e1e1e6;
            font-size: 14px;
            text-transform: uppercase;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 24px;
          width: 270px;

          li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            strong {
              font-weight: 900;
              font-size: 36px;
              line-height: 125%;
              color: #e1e1e6;
            }
          }

          li + li {
            padding-top: 24px;
            border-top: 1px solid #323238;
          }
        }
      }
    }
  }
}
